<ion-view title="Jogo do Bicho - Borboleta" id="page6" style="background-color:#73F6A6;">
    <ion-content padding="true" class="has-header">
        <h3>Se você sonhou com algumas das coisas a seguir tá na hora de jogar no seu bicho da sorte.</h3>

        <table style=" border-collapse: collapse;
    width: 100%;">
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Borboleta</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Árvore</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Asa</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Azeitona</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Abelha</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Baile</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Buquê</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Caasmento</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Céu</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Cigarra</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Dados</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Eleição</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Espinhas</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Estrela</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Mãe</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Navio</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Para-quedas</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Passeio</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Remo</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Rosas</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Salada</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Tatuagem</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Testemunha</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Zodíaco</td>
            </tr>
        </table>


        <a ui-sref="mTodosDeJogos3" id="mTodosDeJogos2-button2" class="button button-dark  button-block">Voltar</a>
    </ion-content>
</ion-view>