<ion-view title="Jogo do Bicho - Cabra" id="page6" style="background-color:#73F6A6;">
    <ion-content padding="true" class="has-header">
        <h3>Se você sonhou com algumas das coisas a seguir tá na hora de jogar no seu bicho da sorte.</h3>

        <table style=" border-collapse: collapse;
    width: 100%;">
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Cabra</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Aluguel</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Amamentar</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Anjo</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Balança</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Bode</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Cofre</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Colar</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Emagrecer</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Espada</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Febre</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Grama</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Leite</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Livro</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Medo</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Morango</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Neve</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Olhos</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Passageiro</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Pente</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Papa</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Santo</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Santa</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Santa</td>
            </tr>
        </table>


        <a ui-sref="mTodosDeJogos3" id="mTodosDeJogos2-button2" class="button button-dark  button-block">Voltar</a>
    </ion-content>
</ion-view>