<ion-view title="Jogo do Bicho - Cachorro" id="page6" style="background-color:#73F6A6;">
    <ion-content padding="true" class="has-header">
        <h3>Se você sonhou com algumas das coisas a seguir tá na hora de jogar no seu bicho da sorte.</h3>

        <table style=" border-collapse: collapse;
    width: 100%;">
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Cachorro</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Açuçar</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Amigo</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Amiga</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Barulho</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Casa</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Desastre</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Diabo</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Doces</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Hospício</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Infelicidade</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Lobo</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Loucura</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Machucado</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Mordida</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Noivado</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Tesouro</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Urina</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Vagalume</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Vagabundo</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Vagabunda</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Vizinho</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Vizinha</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Ziguezague</td>
            </tr>
        </table>


        <a ui-sref="mTodosDeJogos3" id="mTodosDeJogos2-button2" class="button button-dark  button-block">Voltar</a>
    </ion-content>
</ion-view>