<ion-view title="Jogo do Bicho - Camelo" id="page6" style="background-color:#73F6A6;">
    <ion-content padding="true" class="has-header">
        <h3>Se você sonhou com algumas das coisas a seguir tá na hora de jogar no seu bicho da sorte.</h3>

        <table style=" border-collapse: collapse;
    width: 100%;">
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Camelo</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Abacate</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Agonia</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Aleijado</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Cãimbra</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Câncer</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Carteiro</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Chá</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Compras</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Deserto</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Espítiro</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Juiz</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Julgamento</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Milagre</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Muro</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Multirão</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Perfume</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Saudade</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Táxi</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Telefone</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Tellegrama</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Unhas</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Vacina</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Zombar</td>
            </tr>
        </table>


        <a ui-sref="mTodosDeJogos3" id="mTodosDeJogos2-button2" class="button button-dark  button-block">Voltar</a>
    </ion-content>
</ion-view>