<ion-view title="Jogo do Bicho - Carneiro" id="page6" style="background-color:#73F6A6;">
    <ion-content padding="true" class="has-header">
        <h3>Se você sonhou com algumas das coisas a seguir tá na hora de jogar no seu bicho da sorte.</h3>

        <table style=" border-collapse: collapse;
    width: 100%;">
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Carneiro</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Aniversário</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Aniversariante</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Barba</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Cemitério</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Cereja</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Cerveja</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Chorar</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Comida</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Deus</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Feijão</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Feijoada</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Fome</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Greve</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Lã</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Lágrimas</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Madrinha</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Natal</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Ovelha</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Sombra</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Túmulo</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Universidade</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Uva</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Vinho</td>
            </tr>
        </table>


        <a ui-sref="mTodosDeJogos3" id="mTodosDeJogos2-button2" class="button button-dark  button-block">Voltar</a>
    </ion-content>
</ion-view>