<ion-view title="Jogo do Bicho - Cobra" id="page6" style="background-color:#73F6A6;">
    <ion-content padding="true" class="has-header">
        <h3>Se você sonhou com algumas das coisas a seguir tá na hora de jogar no seu bicho da sorte.</h3>

        <table style=" border-collapse: collapse;
    width: 100%;">
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Cobra</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Ácido</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Agulha</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Alfinete</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Anel</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Aranha</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Assasinato</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Beija-flor</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Beijo</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Boca</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Buraco</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Cachimbo</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Caneta</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Cegonha</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Chão</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Choque</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Hospital</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Hóstia</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Inferno</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Lagarta</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Minhoca</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Pedra</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Raio</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Sapo</td>
            </tr>
        </table>


        <a ui-sref="mTodosDeJogos3" id="mTodosDeJogos2-button2" class="button button-dark  button-block">Voltar</a>
    </ion-content>
</ion-view>