<ion-view title="Jogo do Bicho - Coelho" id="page6" style="background-color:#73F6A6;">
    <ion-content padding="true" class="has-header">
        <h3>Se você sonhou com algumas das coisas a seguir tá na hora de jogar no seu bicho da sorte.</h3>

        <table style=" border-collapse: collapse;
    width: 100%;">
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Coelho</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Avó</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Avô</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Barriga</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Boneco</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Cenoura</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Cesta</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Fechadura</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Filhos</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Frutas</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Gaveta</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Montanha</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Moradia</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Ódio</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Pá</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Remédio</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Sábio</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Vale</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Vela</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Valsa</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Vassoura</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Velório</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Vidros</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Xarope</td>
            </tr>
        </table>


        <a ui-sref="mTodosDeJogos3" id="mTodosDeJogos2-button2" class="button button-dark  button-block">Voltar</a>
    </ion-content>
</ion-view>