<ion-view title="Jogo do Bicho - Elefante" id="page6" style="background-color:#73F6A6;">
    <ion-content padding="true" class="has-header">
        <h3>Se você sonhou com algumas das coisas a seguir tá na hora de jogar no seu bicho da sorte.</h3>

        <table style=" border-collapse: collapse;
    width: 100%;">
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Elefante</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Acidente</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Alimentos</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Ar Condicionado</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Bruxa</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Café</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Chocolate</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Corrente</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Dentes</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Dentista</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Dinheiro</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Formiga</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Gigante</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Girrafa</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Irmã</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Motorista</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Nádegas</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Quadris</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Quadro</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Raiz</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Ruído</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Vestido</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Viagem</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Vida</td>
            </tr>
        </table>


        <a ui-sref="mTodosDeJogos3" id="mTodosDeJogos2-button2" class="button button-dark  button-block">Voltar</a>
    </ion-content>
</ion-view>