<ion-view title="Estudo de Caso - Lotece" id="page8" style="background-color:#73F6A6;">
  <ion-content padding="true" class="has-header">
    <div></div>
    <h4 id="estudoDeCasoLotece-heading8" style="color:#000000;">Amostra do Estudo</h4>
    <div id="estudoDeCasoLotece-markdown8" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Fizemos um estudo para tentar descobrir quais seriam os possíveis números para se jogar na
        <strong>Lotece</strong>. Reunimos os jogos de 2 anos seguidos para tentar entender e desvendar o segredo dos números na Loteria Estadual do Ceará.</p>
    </div>
    <div id="estudoDeCasoLotece-markdown9" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Através do estudo você terá uma noção maior dos possíveis números que poderão cair nos sorteios da
        <strong>Lotece</strong> e saberá melhor qual palpite fazer. Mostraremos a seguir como foi feito o estudo.</p>
    </div>
    <h4 id="estudoDeCasoLotece-heading9" style="color:#000000;">Números Mais Frequentes nos Sorteios </h4>
    <div id="estudoDeCasoLotece-markdown10" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Esses foram as unidades mais frequentes nos sorteios: 1 5 8 9 0.</p>
    </div>
    <a ui-sref="estudoDeCasoLotece2" id="estudoDeCasoLotece-button13" class="button button-dark  button-block">Próximo</a>
  </ion-content>
</ion-view>