<ion-view title="Estudo de Caso - Lotece" id="page12" style="background-color:#73F6A6;">
  <ion-content padding="true" class="has-header">
    <div id="estudoDeCasoLotece2-markdown11" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Agrupamos em pares os dígitos mais frequentes e olhamos para as médias dos pares de bichos, por exemplo 1589, qual é a média do número 15 ?. E do número 89 ?. Permutamos os dígitos mais frequentes baseados na média do melhor bicho e repetimos o
        processo. Não se preocupe, para você o que importa é o resultado final. A seguir mostraremos os números da sorte e suas permutações.</p>
    </div>
    <div id="estudoDeCasoLotece2-markdown12" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#9B1B1B;">
        <strong>QUEREMOS DEIXAR CLARO QUE NÃO TEMOS GARANTIAS DE GANHO. CONTUDO NOSSO ESTUDO SE BASEIA NA MATEMÁTICA E ESTATÍSTICA. ASSIM QUE NOS 2 SORTEIOS DO DIA NA LOTECE EXISTE UMA CHANCE MAIOR DE QUE PELO MENOS UMA CENTENA ESTEJA DENTRO DOS NOSSOS NÚMEROS
          DA SORTE</strong>
      </p>
    </div>
    <a ui-sref="nMerosDaSorte" id="estudoDeCasoLotece2-button14" class="button button-dark  button-block">Números da Sorte</a>
  </ion-content>
</ion-view>