<ion-view title="Jogo do Bicho - Gato" id="page6" style="background-color:#73F6A6;">
    <ion-content padding="true" class="has-header">
        <h3>Se você sonhou com algumas das coisas a seguir tá na hora de jogar no seu bicho da sorte.</h3>

        <table style=" border-collapse: collapse;
    width: 100%;">
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Gato</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Advogado</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Agricultor</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Altar</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Amante</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Amor</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Amuleto</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Artista</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Assalto</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Bandido</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Bebê</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Cama</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Caminhão</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Carteira</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Cartomante</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Contrabando</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Elevador</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Enterro</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Esmola</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Garfo</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Herança</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Janelas</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Ladrão</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Padaria</td>
            </tr>
        </table>


        <a ui-sref="mTodosDeJogos3" id="mTodosDeJogos2-button2" class="button button-dark  button-block">Voltar</a>
    </ion-content>
</ion-view>