<ion-view title="Jogo do Bicho - Jacaré" id="page6" style="background-color:#73F6A6;">
    <ion-content padding="true" class="has-header">
        <h3>Se você sonhou com algumas das coisas a seguir tá na hora de jogar no seu bicho da sorte.</h3>

        <table style=" border-collapse: collapse;
    width: 100%;">
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Jacaré</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Água</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Afogamento</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Bagagem</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Baleia</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Banho</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Camarrão</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Castanhas</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Chupar</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Crocodilo</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Dedo</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Duendes</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Enchente</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Escorpião</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Ferro</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Ilha</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Inocente</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Inundação</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Lagarto</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Mágico</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Mar</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Mesa</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Nudez</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Ofensa</td>
            </tr>
        </table>


        <a ui-sref="mTodosDeJogos3" id="mTodosDeJogos2-button2" class="button button-dark  button-block">Voltar</a>
    </ion-content>
</ion-view>