<ion-view title="Jogo do Bicho - Leão" id="page6" style="background-color:#73F6A6;">
    <ion-content padding="true" class="has-header">
        <h3>Se você sonhou com algumas das coisas a seguir tá na hora de jogar no seu bicho da sorte.</h3>

        <table style=" border-collapse: collapse;
    width: 100%;">
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Leão</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Acampamento</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Afilhado</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Amputação</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Bofetada</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Bolo</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Bolsa</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Bombeiro</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Brasas</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Cadeia</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Calvície</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Circo</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Fogo</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Fósforo</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Homem</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Incêndio</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Médico</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Ouro</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Rancor</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Sol</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Sombra</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Susto</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Selva</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Sítio</td>
            </tr>
        </table>


        <a ui-sref="mTodosDeJogos3" id="mTodosDeJogos2-button2" class="button button-dark  button-block">Voltar</a>
    </ion-content>
</ion-view>