<ion-view title="Métodos de Jogos" id="page5" style="background-color:#73F6A6;">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-clipboard"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="mTodosDeJogos-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">A seguir mostraremos alguns métodos para você jogar todos os dias no
        <strong>JOGO DO BICHO</strong>.</p>
    </div>
    <h4 id="mTodosDeJogos-heading1" style="color:#000000;">Método da Cruz do dia</h4>
    <div>
      <p>
        Nesse método você vai se basear no dia em que irá realizar a aposta. Por exemplo, digamos que hoje é dia
        <b>15</b>. Os resultados são os seguintes:
      </p>
      <p>
      </p>
      <ul>
        <li>15+ 3 =
          <s>1</s>
          <b>8</b>
        </li>
        <li>18+ 3 =
          <s>2</s>
          <b>1</b>
        </li>
        <li>21+ 3 =
          <s>2</s>
          <b>4</b>
        </li>
        <li>24+ 3 =
          <s>2</s>
          <b>7</b>
        </li>
      </ul>
      Assim os números da sorte são:
      <!-- Falta uma tag p aqui mas não tá reclamando, se colocá-la reclama-->
      <p>
        <b>8</b>
        <b>1</b>
        <br>
        <b>4</b>
        <b>7</b>.
        <br> Por exemplo você pode "CRUZÁ-LOS": 8 x 7 = 56, 1 x 4 = 4. Centenas 564, 546, 654, 646, 456, 465.

      </p>
    </div>
    <a ui-sref="tabsController.mTodosDeJogos2" id="mTodosDeJogos-button1" class="button button-dark  button-block">Próximo</a>
  </ion-content>
</ion-view>