<ion-view title="Métodos de Jogos" id="page6" style="background-color:#73F6A6;">
  <ion-content padding="true" class="has-header">
    <h4 id="mTodosDeJogos2-heading2" style="color:#000000;">Método 777</h4>
    <div>
      <p>
        Nesse método você multiplicará a centena do 1° prêmio do último concurso por 7. Por exemplo:
      </p>
      <ul>
        <li>1° - 2
          <b>105</b>
        </li>
        <li>2° - 5567 </li>
        <li>3° - 0304</li>
        <li>
          <b> ... </b>
        </li>
      </ul>
      <p>
        Assim você multiplicará:
      </p>
      <ul>
        <li>105 x
          <b>7</b> = 0735</li>
        <li>735 x
          <b>7</b> = 5145</li>
        <li>145 x
          <b>7</b> = 1015</li>
        <li>
          <b> ... </b>
        </li>
      </ul>
      <p>
        A partir desses resultados você poderá ter uma chance maior de acertar, no exemplo você jogaria 0735.

      </p>

    </div>
    <a ui-sref="mTodosDeJogos3" id="mTodosDeJogos2-button2" class="button button-dark  button-block">Próximo</a>
  </ion-content>
</ion-view>