<ion-view title="Jogo do Bicho - Peru" id="page6" style="background-color:#73F6A6;">
    <ion-content padding="true" class="has-header">
        <h3>Se você sonhou com algumas das coisas a seguir tá na hora de jogar no seu bicho da sorte.</h3>

        <table style=" border-collapse: collapse;
    width: 100%;">
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Peru</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Álcool</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Acetona</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Ãnão</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Arroz</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Alho</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Batatas</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Beterraba</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Bêbado</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Bebida</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Chuva</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Copo</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Drogas</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Drogaria</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Escola</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Escolta</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Ganso</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Garrafa</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Morte</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Morro</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Penas</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Velho</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Velha</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Véu</td>
            </tr>
        </table>


        <a ui-sref="mTodosDeJogos3" id="mTodosDeJogos2-button2" class="button button-dark  button-block">Voltar</a>
    </ion-content>
</ion-view>