<ion-view title="Sobre" id="page9" style="background-color:#73F6A6;">
  <ion-content padding="true" class="has-header">
    <div id="sobre-markdown15" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Têm alguma dica, alguma ideia entre em contato conosco.</p>
    </div>
    <div>
      <p></p>
      <h4>Doe com Bitcoin:</h4>
      <h4></h4>
      <a href="https://blockchain.info/address/1EfUgjLESavDnYg7K8U7NvQKj12uuygRyB" target="_blank">1EfUgjLESavDnYg7K8U7NvQKj12uuygRyB</a>
      <p></p>

      <h4>Doe com Pagseguro:</h4>
      <h4></h4>
      <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
      <form action="https://pagseguro.uol.com.br/checkout/v2/donation.html" method="post">
        <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
        <input type="hidden" name="currency" value="BRL">
        <input type="hidden" name="receiverEmail" value="crislaniomacedo@live.com">
        <input type="hidden" name="iot" value="button">
        <input type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/doacoes/205x30-doar.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!">
      </form>
      <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
    </div>
    <div id="sobre-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Entre em contato conosco através do email:</strong> crislanio.ufc@gmail.com</p>
    </div>
  </ion-content>
</ion-view>