<ion-view title="Tabela do Jogo do Bicho" id="page11" style="background-color:#73F6A6;">
    <ion-content padding="true" class="has-header">
        <h4 id="mTodosDeJogos3-heading4" style="color:#000000;">O Bicho e o Sonho</h4>
        <div id="mTodosDeJogos3-markdown4" class="show-list-numbers-and-dots">
            <p style="color:#000000;">Clique no bicho e saiba os sonhos relacionados ao seu <strong>bicho da sorte</strong>.
            </p>
        </div>

        <table style=" border-collapse: collapse; width: 100%;">
            <tr style="tr:hover{background-color:#f5f5f5}">
                <td style="  border-collapse: collapse; padding: 5px; text-align: center;">
                    <h3>1-Avestruz</h3><br/>

                    <a ui-sref="avestruzPage">
                        <img src="../img/1.png" alt=""><br/>
                        <a/>
                        <h5>01-02-03-04</h5>
                </td>
                <td style="  border-collapse: collapse; padding: 5px; text-align: center;">
                    <h3>2-Águia</h3><br/>
                    <a ui-sref="aguiaPage">
                        <img src="../img/2.png" alt=""><br/>
                        <a/>
                        <h5>05-06-07-08</h5>
                </td>

                <td style="  border-collapse: collapse; padding: 5px; text-align: center;">
                    <h3>3-Burro</h3><br/>
                    <a ui-sref="burroPage"><img src="../img/3.png" alt=""><br/>
                        <a/>
                        <h5>09-10-11-12</h5>

                </td>
                <td style="  border-collapse: collapse; padding: 5px; text-align: center;">
                    <h3>4-Borboleta</h3><br/>
                    <a ui-sref="borboletaPage"><img src="../img/4.png" alt=""><br/>
                        <a/>
                        <h5>13-14-15-16</h5>

                </td>
                <td style="  border-collapse: collapse; padding: 5px; text-align: center;">
                    <h3>5-Cachorro</h3><br/>
                    <a ui-sref="cachorroPage"><img style=" border-radius: 50%;" src="../img/5.png" alt=""><br/>
                        <a>
                            <h5>17-18-19-20</h5>
                </td>
            </tr>
            <tr style="tr:hover{background-color:#f5f5f5}">
                <td style="  border-collapse: collapse; padding: 5px; text-align: center;">
                    <h3>6-Cabra</h3><br/>
                    <a ui-sref="cabraPage"><img src="../img/6.png" alt=""><br/>
                        <a/>
                        <h5>21-22-23-24</h5>
                </td>
                <td style="  border-collapse: collapse; padding: 5px; text-align: center;">
                    <h3>7-Carneiro</h3>
                    <br/>
                    <a ui-sref="carneiroPage"><img src="../img/7.png" alt=""><br/>
                        <a/>
                        <h5>25-26-27-28</h5>
                </td>
                <td style="  border-collapse: collapse; padding: 5px; text-align: center;">
                    <h3>8-Camelo</h3>
                    <br/>
                    <a ui-sref="cameloPage"><img src="../img/8.png" alt=""><br/>
                        <a/>
                        <h5>29-30-31-32</h5>
                </td>
                <td style="  border-collapse: collapse; padding: 5px; text-align: center;">
                    <h3>9-Cobra</h3>
                    <br/>
                    <a ui-sref="cobraPage"><img src="../img/9.png" alt=""><br/>
                        <a/>
                        <h5>33-34-35-36</h5>
                </td>
                <td style="  border-collapse: collapse; padding: 5px; text-align: center;">
                    <h3>10-Coelho</h3>
                    <br/>
                    <a ui-sref="coelhoPage"><img src="../img/10.png" alt=""><br/>
                        <a/>
                        <h5>37-38-39-40</h5>
                </td>
            </tr>
            <tr style="tr:hover{background-color:#f5f5f5}">
                <td style="  border-collapse: collapse; padding: 5px; text-align: center;">
                    <h3>11-Cavalo</h3>
                    <br/>
                    <a ui-sref="cavaloPage"><img src="../img/11.png" alt=""><br/>
                        <a/>
                        <h5>41-42-43-44</h5>
                </td>
                <td style="  border-collapse: collapse; padding: 5px; text-align: center;">
                    <h3>12-Elefante</h3>
                    <br/>
                    <a ui-sref="elefantePage"><img src="../img/12.png" alt=""><br/>
                        <a/>
                        <h5>45-46-47-48</h5>
                </td>
                <td style="  border-collapse: collapse; padding: 5px; text-align: center;">
                    <h3>13-Galo</h3>
                    <br/>
                    <a ui-sref="galoPage"><img src="../img/13.png" alt=""><br/>
                        <a/>
                        <h5>49-50-51-52</h5>
                </td>
                <td style="  border-collapse: collapse; padding: 5px; text-align: center;">
                    <h3>14-Gato</h3>
                    <br/>
                    <a ui-sref="gatoPage"><img src="../img/14.png" alt=""><br/>
                        <a/>
                        <h5>53-54-55-56</h5>
                </td>
                <td style="  border-collapse: collapse; padding: 5px; text-align: center;">
                    <h3>15-Jacaré</h3>
                    <br/>
                    <a ui-sref="jacarePage"><img src="../img/15.png" alt=""><br/>
                        <a/>
                        <h5>57-58-59-60</h5>
                </td>
            </tr>
            <tr style="tr:hover{background-color:#f5f5f5};">
                <td style="  border-collapse: collapse; padding: 5px; text-align: center;">
                    <h3>16-Leão</h3>
                    <br/>
                    <a ui-sref="leaoPage"><img src="../img/16.png" alt=""><br/>
                        <a/>
                        <h5>61-62-63-64</h5>
                </td>
                <td style="  border-collapse: collapse; padding: 5px; text-align: center;">
                    <h3>17-Macaco</h3>
                    <br/>
                    <a ui-sref="macacoPage"><img src="../img/17.png" alt=""><br/>
                        <a/>
                        <h5>65-66-67-68</h5>
                </td>
                <td style="  border-collapse: collapse; padding: 5px; text-align: center;">
                    <h3>18-Porco</h3>
                    <br/>
                    <a ui-sref="porcoPage"><img src="../img/18.png" alt=""><br/>
                        <a/>
                        <h5>69-70-71-72</h5>
                </td>
                <td style="  border-collapse: collapse; padding: 5px; text-align: center;">
                    <h3>19-Pavão</h3>
                    <br/>
                    <a ui-sref="pavaoPage"><img src="../img/19.png" alt=""><br/>
                        <a/>
                        <h5>73-74-75-76</h5>
                </td>
                <td style="  border-collapse: collapse; padding: 5px; text-align: center;">
                    <h3>20-Peru</h3>
                    <br/>
                    <a ui-sref="peruPage">
                        <img src="../img/20.png" alt=""><br/>
                        <a/>
                        <h5>77-78-79-80</h5>
                </td>
            </tr>
            <tr style="tr:hover{background-color:#f5f5f5};">
                <td style="  border-collapse: collapse; padding: 5px; text-align: center;">
                    <h3>21-Touro</h3>
                    <br/>
                    <a ui-sref="touroPage">
                        <img src="../img/21.png" alt=""><br/>
                        <a/>
                        <h5>81-82-83-84</h5>
                </td>
                <td style="  border-collapse: collapse; padding: 5px; text-align: center;">
                    <h3>22-Tigre</h3>
                    <br/>
                    <a ui-sref="tigrePage">
                        <img src="../img/22.png" alt=""><br/>
                        <a/>
                        <h5>85-86-87-88</h5>
                </td>
                <td style="  border-collapse: collapse; padding: 5px; text-align: center;">
                    <h3>23-Urso</h3>
                    <br/>
                    <a ui-sref="ursoPage">
                        <img src="../img/23.png" alt=""><br/>
                        <a/>
                        <h5>89-90-91-92</h5>
                </td>
                <td style="  border-collapse: collapse; padding: 5px; text-align: center;">
                    <h3>24-Veado</h3>
                    <br/>
                    <a ui-sref="veadoPage"><img src="../img/24.png" alt=""><br/>
                        <a/>
                        <h5>93-94-95-96</h5>
                </td>
                <td style="  border-collapse: collapse; padding: 5px; text-align: center;">
                    <h3>25-Vaca</h3>
                    <br/>
                    <a ui-sref="vacaPage"><img src="../img/25.png" alt=""><br/>
                        <a/>
                        <h5>97-98-99-00</h5>
                </td>
            </tr>
        </table>

        <a ui-sref="tabsController.registreSeusPalpites" id="mTodosDeJogos3-button11" class="button button-dark  button-block">Palpitar</a>


    </ion-content>
</ion-view>