<ion-view title="Jogo do Bicho - Tigre" id="page6" style="background-color:#73F6A6;">
    <ion-content padding="true" class="has-header">
        <h3>Se você sonhou com algumas das coisas a seguir tá na hora de jogar no seu bicho da sorte.</h3>

        <table style=" border-collapse: collapse;
    width: 100%;">
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Tigre</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Abacaxi</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Berço</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Braço</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Dragão</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Grito</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Lâmpada</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Luz</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Marinha</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Mar</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Mergulhão</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Onça</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Osquertra</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Pé</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Pólvora</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Salsicha</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Suastica</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Ruiva</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Roupa</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Rubí</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Tapete</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Trepar</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Queda</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Vulcão</td>
            </tr>
        </table>


        <a ui-sref="mTodosDeJogos3" id="mTodosDeJogos2-button2" class="button button-dark  button-block">Voltar</a>
    </ion-content>
</ion-view>