<ion-view title="Jogo do Bicho - Touro" id="page6" style="background-color:#73F6A6;">
    <ion-content padding="true" class="has-header">
        <h3>Se você sonhou com algumas das coisas a seguir tá na hora de jogar no seu bicho da sorte.</h3>

        <table style=" border-collapse: collapse;
    width: 100%;">
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Touro</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Abismo</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Ameaça</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Aventura</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Batom</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Bezerro</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Boi</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Bomba</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Chifre</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Crânio</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Cristais</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Demissão</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Desgraça</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Televisão</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Telefone</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Telhado</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Xadrez</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Xixi</td>

            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Xícara</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Vinagre</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Vídeo</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Whatsapp</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Zero</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Zumbi</td>
            </tr>
        </table>


        <a ui-sref="mTodosDeJogos3" id="mTodosDeJogos2-button2" class="button button-dark  button-block">Voltar</a>
    </ion-content>
</ion-view>