<ion-view title="Jogo do Bicho - Vaca" id="page6" style="background-color:#73F6A6;">
    <ion-content padding="true" class="has-header">
        <h3>Se você sonhou com algumas das coisas a seguir tá na hora de jogar no seu bicho da sorte.</h3>

        <table style=" border-collapse: collapse;
    width: 100%;">
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Vaca</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Açougue</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Aborto</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Asilo</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Carne</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Cigano</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Capim</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Cruz</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Campo</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Festa</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Filme</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Hortelã</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Lago</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Madastra</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Milionário</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Milionária</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Nuvens</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Parto</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Sapatos</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Seios</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Trigo</td>
            </tr>
            <tr>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Tripé</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Xingar</td>
                <td style=" padding: 8px;text-align: center;border-bottom: 1px solid #ddd;">Zebra</td>
            </tr>
        </table>


        <a ui-sref="mTodosDeJogos3" id="mTodosDeJogos2-button2" class="button button-dark  button-block">Voltar</a>
    </ion-content>
</ion-view>